body {
    display: flex;
    justify-content: center;
}


main {
    max-width: 1800px;
    width: 100%;
    min-height: 4271px;
    margin: 15px;
}

.header_page {
    max-width: 1770px;
    width: 100%;
    height: 820px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkviolet;
}

.header_container {
    position: relative;
    max-width: 653px;
    width: 100%;
    min-height: 340px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    /* background-color: brown; */
}

.formatting {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.head-text-box {
    max-width: 372px;
    width: 100%;
    min-height: 76px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    /* background-color: chocolate; */
}

.heading {
    max-width: 342px;
    width: 100%;
    min-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: white;

    /* background-color: darkturquoise; */
}

.heading-para {
    max-width: 345px;
    width: 100%;
    min-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 6.82px;
    
    color: #FFFFFF;
    /* background-color: tomato; */
}

.search_container {
    position: relative;
    max-width: 653px;
    width: 100%;
    min-height: 63px;

    /* background-color: darkslategrey; */
}

.scroll-down {
    position: relative;
    max-width: 108px;
    width: 100%;
    min-height: 46px;

    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: crimson; */
}

.scroll-down-text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.8px;

    color: #FFFFFF;
}

form.search-form input[type=text] {
    max-width: 503px;
    width: 100%;
    min-height: 61px;

    border: none;
    outline: none;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
}

form.search-form button {
    float: right;
    width: 146px;
    height: 63px;

    background: #5474FD;
    color: white;
    border: 2px solid white;
    border-left: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.search-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    background-color: #364baa;
}

.search-text {
    max-width: 92px;
    width: 100%;
    min-height: 26px;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.fa-search {
    width: 20px;
    height: 20px;
    position: relative;
}

.nav-container {
    display: flex;
    align-self: flex-end;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 83px;

    background-color: #5474FD;
}
.nav {
    overflow: hidden;
    /* background-color: #0c1644; */
    width: 1110px;
}

.nav a {
    position: relative;
    float: right;
    display: block;
    padding: 0px 16px;
    
    text-decoration: none;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    text-transform: uppercase;

    color: #FFFFFF;
}

  .nav a:hover {
    color: black;
}
  
  .nav a.active {
    float: left;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;

    letter-spacing: 2.4px;
    text-transform: uppercase;

    color: #FFFFFF;
}
  
.nav .icon {
    display: none;
}

.why-us_page {
    max-width: 1770px;
    width: 100%;
    height: 685px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: darkviolet; */
}

.image {
    max-width: 1770px;
    width: 100%;
    height:auto;
    position: absolute;
}

.why-us_container {
    max-width: 1110px;
    width: 100%;
    min-height: 450px;

    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /* background-color: dimgrey; */
}

.why-us_left {
    max-width: 560px;
    width: 100%;
    min-height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: dodgerblue; */
}

.why-us_right {
    max-width: 440px;
    width: 100%;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    /* background-color: firebrick; */
}

#lakehouse {
    width: 350px;
    height: 220px;
    position: relative;
}
#mountaintop {
    width: 350px;
    height: 220px;
    align-self: flex-end;
    position: relative;
}

.why-us-heading {
    max-width: 288px;
    width: 100%;
    min-height: 26px;

    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    
    color: #FFFFFF;
    
    /* background-color: forestgreen; */
}

.why-us-paragraph {
    max-width: 560px;
    width: 100%;
    min-height: 158px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    letter-spacing: 1.6px;
    
    color: #E8E8E8;
    /* background-color: lightslategrey; */
}

.why-us-btn {
    width: 225px;
    height: 60px;

    background: #5474FD;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    mix-blend-mode: normal;
    opacity: 1;
}

.why-us-btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-vector {
    position: absolute;
    left: 0px;
}

.btn-vector2 {
    position: relative;
    left: 0px;
}

.why-us-btn-text {
    position: absolute;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.why-us-btn:hover {
    background-color: #364baa;
}

.how-it-works_page {
    max-width: 1770px;
    width: 100%;
    height: 340px;

    display: flex;
    justify-content: center;
    
    background: #333333;
}

.how-it-works_container {
    max-width: 1110px;
    width: 100%;
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    position: relative;
    max-width: 350px;
    width: 100%;
    min-height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: lightsteelblue; */
}

.search-p {
    max-width: 216px;
    width: 100%;
    min-height: 26px;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    
    display: flex;
    align-items: center;
    text-align: center;
    

    z-index: 1;
    color: #E8E8E8;
    /* background-color: palevioletred; */
}

.arrows {
    position: absolute;
    z-index: 0;
}

.ellipse {
    position: absolute;
    z-index: 1;
}
.vectors {
    z-index: 2;
    position: relative;
}

.ellipse-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows-div {
    max-width: 777px;
    width: 100%;
    min-height: 145px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.section-1-2 {
    max-width: 1770px;
    width: 100%;
    height: 1400px;

    display: flex;
    flex-direction: column;

}

.section {
    max-width: 1770px;
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-container {
    position: relative;
    max-width: 1110px;
    width: 100%;
    min-height: 502px;
    display: flex;
    align-items: flex-end;

    /* background-color: turquoise; */
}

.section-content {
    max-width: 543px;
    width: 100%;
    min-height: 374px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    background: rgba(35, 35, 35, 0.9);
    mix-blend-mode: normal;
}
.text-box {
    max-width: 510px;
    width: 100%;
    min-height: 275px;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-box h4 {
    max-width: 80px;
    width: 100%;
    min-height: 26px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    letter-spacing: 1.5px;

    color: #E8E8E8;

    /* background-color: thistle; */
}

.text-box h3 {
    max-width: 240px;
    width: 100%;
    min-height: 26px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    text-transform: uppercase;

    color: #FFFFFF;

    /* background-color: thistle; */
}

.text-p {
    max-width: 510px;
    width: 100%;
    min-height: 78px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: #E8E8E8;

    /* background-color: thistle; */
}



.section2 {
    max-width: 1770px;
    width: 100%;
    height: 700px;

    background: violet;
}


.section2-container {
    position: relative;
    max-width: 1110px;
    width: 100%;
    min-height: 502px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    /* background-color: turquoise; */
}

.testimonial_page {
    max-width: 1770px;
    width: 100%;
    height: 685px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: darkviolet; */
}

.testimonial-container {
    position: relative;
    max-width: 1110px;
    width: 100%;
    min-height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: saddlebrown; */
}

.testimonial-head {
    max-width: 390px;
    width: 100%;
    min-height: 26px;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.testimonial-sam {
    max-width: 1110px;
    width: 100%;
    min-height: 284px; 

    display: flex;
    /* background-color: springgreen; */
}

.testimonial-box {
    max-width: 665px;
    width: 100%;
    min-height: 284px;
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-h4 {
    max-width: 150px;
    width: 100%;
    min-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    
    color: #FEFEFE;
    /* background-color: thistle; */
}

.testimonial-text {
    max-width: 580px;
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.font {
    font-family: 'FontAwesome', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #5474FD;

    display: inline;

    align-self: flex-start;
}
.testimonial-paragraph {
    max-width: 580px;
    width: 100%;
    min-height: 165px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    display: flex;
    align-items: center;
    
    color: #E8E8E8;
    /* background-color: teal; */
}

.footer {
    max-width: 1770px;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}

.footer-container {
    max-width: 200px;
    width: 100%;
    min-height: 180px;
    display: flex;
    align-items: flex-end;
    /* background-color:tomato; */
}

.footer-content {
    max-width: 200px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: teal; */
}

.footer-logo {
    max-width: 200px;
    width: 100%;
    min-height: 50px;

    /* background-color: wheat; */
}

.footer-logo-head {
    max-width: 200px;
    width: 100%;
    min-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
}
.footer-logo-para {
    max-width: 200px;
    width: 100%;
    min-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;

    color: #FFFFFF;
}

.footer-icons {
    max-width: 166px;
    width: 100%;
    min-height: 16px;
    display: flex;
    justify-content: space-between;
    /* background-color: tomato; */
}

.icons {
    font-family: 'FontAwesome', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    text-decoration: none;
    color: #E8E8E8;
}

.blue {
    color: #5474FD;
}